{% extends 'layout.html' %}
{% block content %}

    {{ super() }}
    data length: {{ data | length() }}
    <div></div>
    {{ data.food }}
    <div></div>
    {% if data.food == 'pizza' %}
	    {{data.name | default('Mr.nobody')}} eat {{ data.food | upper }}
    {% elif data.food == 'cake'%}
        do some thing
    {% else %}
        {{ data.food }}
    {% endif %}

    <div></div>
    {% for key, value in data.items() %}
        {{ key }}
        {{ value }}
        <div></div>
    {% endfor %}

    {% set msg = get_flashed_messages() %}
    {{ msg }}

{% endblock %}
